.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}


body {
    font-family: "Lucida Grande", sans-serif;
    background: #1c1a1a;
}

img {
    height: 80px;
    width: 80px;
}

.welcome {
    width: auto;
    height: auto;
    margin: 2rem 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    display: inline-block;
    color: #4CAF50;
}

form {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

section {
    width: auto;
    height: auto;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
    background-color: #111111;
    border: 1px solid grey;
}

.bucket-picker {
    font-family: "Lucida Grande", sans-serif;
    font-size: 1rem;
    margin-left: 2rem;
}

p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 15px;
}

a:hover {
    opacity: 0.7;
}

a:link {
    color: white;
}

a:visited {
    color: grey;
}

footer {
    color: white;
    text-align: center;
    padding-bottom: 1rem;
}
