<!DOCTYPE html>
<html>
<head>
    <title>S3 Web Service</title>
    <meta charset="UTF-8">
    <meta name="description" content="List and Download S3 Files">
    <meta name="keywords" content="Services">
    <meta name="author" content="Tiago Condeixa">
    <link rel="stylesheet" href="/css/main.css?v=0.1">
</head>
<body>
    <div class="welcome">
        <h1 align="left">
            <img src="{{ .Picture }}" alt="Profile Google Picture" width="64" height="64">
        </h1>
        <h1 align="center">S3 Web Service</h1>
        <h1 align="right">
            <tiny>{{ .Email }}</tiny>
            <small><a href="/logout">logout</a></small>
        </h1>
    </div>


    <aside>
        <form>
            <select onchange="setBucket()" class="bucket-picker" id="bucket">
                {{ range .S3Buckets }}
                    <option>{{ . }}</option>
                {{ end }}
            </select>
        </form>
    </aside>
    <section>
        {{$bucket := .S3Bucket}}
        {{ range .S3Objects }}
        <p><a href="/main/{{ $bucket }}?object={{ . }}" target="_blank">{{ . }}</a></p>
        {{ end }}
    </section>
<footer>
    <small>Made by Tiago Condeixa <a href="https://github.com/tcondeixa/s3-web-client">github</a></small>
</footer>
<script type="text/javascript" src="/js/main.js?v=0.1"></script>
</body>
</html>