<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="List and Download Bucket Objects">
    <meta name="keywords" content="aws, gcp, bucket">
    <meta name="author" content="Tiago Condeixa">
    <link rel="stylesheet" href="/css/main.css?v=0.2">
</head>
<body>
    <div class="welcome">
        <h1>
            <img src="{{ .Picture }}" alt="Profile Google Picture" width="64" height="64">
        </h1>
        <h1>{{ .Title }}</h1>
        <h1>
            <p>{{ .Email }}</p>
            <p><a href="/logout">logout</a></p>
        </h1>
    </div>

    <aside>
        <form>
            <select onchange="setBucket()" class="bucket-picker" id="bucket">
                {{ range .Buckets }}
                    <option>{{ . }}</option>
                {{ end }}
            </select>
        </form>
    </aside>
    <section>
        {{$bucket := .Bucket}}
        {{ range .Objects }}
        <p style="font-size:12px"><a href="/main/{{ $bucket }}?object={{ . }}" target="_blank">{{ . }}</a></p>
        {{ end }}
    </section>
<footer>
    <small>Bucket Web Client made by Tiago Condeixa <a href="https://github.com/tcondeixa/bucket-web-client">github</a></small>
</footer>
<script type="text/javascript" src="/js/main.js?v=0.2"></script>
</body>
</html>