<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="List and Download Bucket Objects">
    <meta name="keywords" content="aws, gcp, bucket">
    <meta name="author" content="Tiago Condeixa">
    <link rel="stylesheet" href="/css/main.css?v=v0.7">
  </head>
  <body>
      <div class='centered'>
          <a href="{{ .Link }}"><button>Login with Google!</button></a>
      </div>
  </body>
</html>
