<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="List and Download Bucket Objects">
    <meta name="keywords" content="aws, gcp, bucket">
    <meta name="author" content="Tiago Condeixa">
    <link rel="stylesheet" href="/css/main.css?v=0.2">
  </head>
  <body>
      <a href="{{ .Link }}"><button>Login with Google!</button></a>
  </body>
</html>